body {
    background-color: white;
    margin: 0;
}

h1 {
    font-size: 400%;
    text-align: center;
    color: black;
    font-weight: 350;
    margin: 1%;
}

.tabledis {
display: table; /* 2. display flex to the rescue */
}
  
form {
    display: flex; /* 2. display flex to the rescue */
    flex-direction: row;
  }
  
  label, input {
    display: block; /* 1. oh noes, my inputs are styled as block... */
  }

.dark-theme {
    background-color: #202a4d;
}

h2 {
    color: black;
    text-align: center;
}

.dark-theme > p, .dark-theme > h1, .dark-theme > ul, .dark-theme > h2, .dark-theme h2{
    color: white;
}




.button{
    border-radius: 20%;
    text-decoration: none;
    color: white;
    font-size: 1.7em;
    font-weight: heavy;
    font-family: "Arial";
}

.button:hover {
    background-color: white;
    text-decoration: none;
    color: #1a3766;
}

p {
    font-family: Open Sans;
    padding: 0 10%;
    font-size: 140%;
    color: black;
}

ul {
    font-family: Open Sans;
    padding: 0 10%;
    font-size: 200%;
    color: black;
}


#bongo {
    display: block;
    margin: auto;
}




